nav(class="navbar navbar-expand-lg navbar-light bg-light")  
      if session.passport
        span #{session.passport.user.username}  
        -var id = session.passport.user.id
          div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            div(class="navbar-nav")
              a(class="nav-item nav-link" href="/home") Home_
              a(class="nav-item nav-link" href="/myproducts") My Products_
              a(class="nav-item nav-link" href="/productcategories") Product Categories_ 
              a(class="nav-item nav-link" href="/allproducts") All Products_
              a(class="nav-item nav-link" href="/sell") Sell a Product_
              a(class="nav-item nav-link" id="profile" href=`/profile/${id}`) Profile_
              a(class="nav-item nav-link" href=`/cart`) Cart
                form(method="POST")
                  button(type="submit" formaction="/logout") logout
      else
        div(class="navbar-nav")
          a(class="btn btn-primary nav-link col-sm" href="/login") Login_
          a(class="btn btn-info nav-link col-sm" href="/register") Register_
          a(class="nav-item nav-link" href="/home") Home_
          a(class="nav-item nav-link" href="/productcategories") Product Categories_
          a(class="nav-item nav-link" href="/allproducts") All Products
