doctype html
html
  head
    title Product Details
    include stylesheets.pug
  body
    include ./partials/nav.pug

  block content
    h1 All
    each product in products
      ul
        li #{product.product_name}
        li #{product.description}
        li #{product.listing_date}
        li $#{product.price}.00
