doctype html
html
  head
    title cart
    include stylesheets.pug
  body
    include partials/nav.pug
    h1 Cart
    h2 My Cart

  block content
    if products != undefined
      each product in products
        h1 #{product.product_name}
        h2 #{product.price}
        h6 #{product.product_description}
      button(type="submit" class="showPaymentTypes" id=`${order.id}` value="Submit" ) Complete Order
    else
        h2 You're cart is empty!    
    script
      include ../client/client.js