doctype html
html
  head
    title cart
    include stylesheets.pug
  body
    include partials/nav.pug
    h1 Cart
    h2 My Cart

  block content
    if order.length > 0
        h1 #{order.user_id}
        h1 #{order.order_creation_date}
    else
        h2 You're cart is empty!    

    script
      include ../client/client.js