doctype html
html
  head
    title Bangazon!
    include stylesheets.pug
  body
    include partials/nav.pug
    h1 Bangazon!
    h2 hey

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
      
