extends addPaymentType.pug
    
block content
    h3 You have successfully added payment type #{payment_type.payment_type_name}!
    a(class="nav-item nav-link" href="/payment-types") Return to Payment Types
